<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>

		  		Company Name:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="Company_Name"><br><br>

		  		Company Email:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="Company_Email" ><br><br>

		  		Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="Password"><br><br>

				Confirm Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="Confirm_Password"><br><br>

		  		Company Description:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="Company_Description"><br><br>

		  		Company Address:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="Company_Address"><br><br>

				Contact Number:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="Contact_Number"><br><br>

				Website_URL:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="Website_URL"><br><br>

				Industry:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="Industry"><br><br>

				Company_Size:<br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="Company_Size"><br><br>

		  		Company Logo: <input type=file name="Company_Logo" style="height:25px;font-size:14pt;color:grey;"> <br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>

			</form>
<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>

